@import url(./reset.css);
@import url(./menu.css);
@import url(./cabecalho.css);
@import url(./metricas.css);
@import url(./vagas.css);
@import url(./card.css);
@import url(./depoimento.css);
@import url(./rodape.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    --texto-fonte: 'Inter', sans-serif;
    --branco-back: #FFFFFF;
    --cinza-texto: #667085;
    --cinza-destaque: #3A404E;
    --vinho-destaque: #8E2424;
    --preto-destaque: #101828;
    --vermelho-back:  #c3191910;
    --cinza-back: #F9FAFB;
    --cinza-border: #EAECF0;
}


body {
    background-color: var(--branco-back);
    color: var(--cinza-texto);
    font-family: var(--texto-fonte);
    font-size: 16px;
    font-weight: 400;
}

.hole {
    margin: 4rem 0;
}